# =============== Java ===============
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# =============== Build & Gradle ===============
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =============== Application Configuration ===============
*.pem
.env
src/main/resources/*
src/main/resources/application-test.yml
src/main/resources/application.yml

# =============== IDEs ===============

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

## Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
bin/

## VS Code
.vscode/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =============== Tools & Misc ===============
HELP.md

# =============== Mobile Tools for Java ===============
.mtj.tmp/
src/main/resources/application.yml

.DS_Store